@model ProyectoNotas.Models.Materia

@{
    ViewData["Title"] = "Agregar Materia";
}

<h2>Agregar Materia</h2>

<form asp-action="Agregar" method="post">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" name="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>

    <div>
        <label asp-for="Profesor"></label>
        <input asp-for="Profesor" name="Profesor"/>
        <span asp-validation-for="Profesor"></span>
    </div>

    <div style="margin-top: 20px;">
        <button type="submit">Crear</button>
    </div>
</form>

<form asp-action="Index" method="get" style="margin-top: 10px;">
    <button type="submit">Volver</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
